
snippet ssep "Add a double title separator" b
##____________________________________________________________________
##${1:Tilte}`!p snip.rv = (66-len(t[1])-len(t[2]))*' '`[${2:Title}]
${0}
endsnippet
